* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#titleDogSite{
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: navy;
}

body {
    background-color: white;
}


#adoptionFormDiv {
    background-color: beige;
    margin-left: 15px;
    margin-right: 15px;
    height: 175px;
}


.showDogs{
    font-size: 20px;
}

.fieldset {
    margin-left: 150px;
    margin-right: 15px;
    float: left;
    padding: 3px 20px 20px 10px;
}

.legend {
    font-weight: bold;
}
