<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700" rel="stylesheet">
    <title>Dog Adoption Site</title>
</head>
<body> 

    <header id="titleDiv">
        <h1 id="titleDogSite">Happy Valley Shelter</h1>
    </header>
    <br>
    <div id="adoptDog">
        <h2 id="selectDog">Adopt a Dog</h2>
    </div>
    <br>
    <p id="textForm">If you are interested in adopting one of our animals, please fill out our <a id="onlineForm" href=''>online adoption form.</a></p>
    <br>
    <div id="adoptionFormDiv">
        <p class="showDogs">Show me dogs that are</p>
        <br>
        <form id="adoptionForm">
                <fieldset class="fieldset">
                    <legend class="legend">Gender</legend>
                    <div>
                        <input type="radio" name="gender" id="male" value="male">
                        <label for="male">Male</label>
                        </div>
                        <div>
                        <input type="radio" name="gender" id="female" value="female">
                        <label for="female">Female</label>
                        </div>
                        <div>
                        <input type="radio" name="gender" id="all" value="all" checked="true">
                        <label for="all">All</label>
                    </div>
                </fieldset>
        </form>
        <form class="form">
                <fieldset class="fieldset">
                    <legend class="legend">Age</legend>
                    <div>
                        <input type="radio" name="age" id="puppy" value="puppy">
                        <label for="puppy">Puppy</label>
                    </div>
                    <div>
                        <input type="radio" name="age" id="young" value="young">
                        <label for="young">Young</label>
                    </div>
                    <div>
                        <input type="radio" name="age" id="adult" value="adult">
                        <label for="adult">Adult</label>
                    </div>
                    <div>
                        <input type="radio" name="age" id="senior" value="senior">
                        <label for="senior">Senior</label>
                    </div>
                    <div>
                        <input type="radio" name="age" id="all_2" value="all_2" checked="true">
                        <label for="all_2">All</label>
                    </div>
                </fieldset>
        </form>
        <form class="form">
                <fieldset class="fieldset">
                    <legend class="legend">Size</legend>
                    <div>
                        <input type="checkbox" name="size" id="tiny" value="tiny">
                        <label for="tiny">Tiny</label>
                    </div>
                    <div>
                        <input type="checkbox" name="size" id="small" value="small">
                        <label for="small">Small</label>
                    </div>
                    <div>
                        <input type="checkbox" name="size" id="medium" value="medium">
                        <label for="medium">Medium</label>
                    </div>
                    <div>
                        <input type="checkbox" name="size" id="large" value="medium">
                        <label for="large">Large</label>
                    </div>
                </fieldset>
            </form>
            <form class="form">
                    <fieldset class="fieldset">
                        <legend class="legend">Personality Traits</legend>
                        <div>
                            <input type="checkbox" name="personality" id="easygoing" value="easygoing">
                            <label for="easygoing">Easygoing</label>
                        </div>
                        <div>
                            <input type="checkbox" name="personality" id="energetic" value="energetic">
                            <label for="energetic">Energetic</label>
                        </div>
                        <div>
                            <input type="checkbox" name="personality" id="good-with-kids" value="good-with-kids">
                            <label for="good-with-kids">Good with kids</label>
                        </div>
                        <div>
                            <input type="checkbox" name="personality" id="good-with-dogs" value="good-with-dogs">
                            <label for="good-with-dogs">Good with other dogs</label>
                        </div>
                        <div>
                            <input type="checkbox" name="personality" id="good-with-cats" value="good-with-cats">
                            <label for="good-with-cats">Good with cats</label>
                        </div>
                    </fieldset>
            </form>
    </div>
    <section class="dogPictures">
        <div class="dogs-row1">
            <img class="dog" alt="beans" src="{% static 'images/beans.jpg'%}">
                <p class="dogName">Beans</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Adult</button>
                    <button id='dogAttributes'>Male</button>
                    <button id='dogAttributes'>Medium</button>
                    <button id='dogAttributes'>Easygoing</button>
                    <button id='dogAttributes'>Good with cats</button>
                </div>
            <img class="dog" alt="zelda" src="{% static 'images/boston-terrier.jpg'%}">
                <p class="dogName">Zelda</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Senior</button>
                    <button id='dogAttributes'>Female</button>
                    <button id='dogAttributes'>Small</button>
                    <button id='dogAttributes'>Easygoing</button>
                    <button id='dogAttributes'>Good with kids</button>
                    <button id='dogAttributes'>Good with other dogs</button>
                </div>
            <img class="dog" alt="baby" src="{% static 'images/boxer.jpg'%}">
                <p class="dogName">Baby</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Young</button>
                    <button id='dogAttributes'>Female</button>
                    <button id='dogAttributes'>Large</button>
                    <button id='dogAttributes'>Energetic</button>
                    <button id='dogAttributes'>Good with kids</button>
                    <button id='dogAttributes'>Good with other dogs</button>
                </div>
        </div>
        <div class="dogs-row2">
            <img class="dog" alt="tom-tom" src="{% static 'images/golden-lab.jpg'%}">
                <p class="dogName">Tom-Tom</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Young</button>
                    <button id='dogAttributes'>Male</button>
                    <button id='dogAttributes'>Large</button>
                    <button id='dogAttributes'>Energetic</button>
                    <button id='dogAttributes'>Good with kids</button>
                    <button id='dogAttributes'>Good with other dogs</button>
                    <button id='dogAttributes'>Good with other cats</button>
                </div>
            <img class="dog" alt="marco" src="{% static 'images/little-dog.jpg'%}">
                <p class="dogName">Marco</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Adult</button>
                    <button id='dogAttributes'>Male</button>
                    <button id='dogAttributes'>Small</button>
                    <button id='dogAttributes'>Energetic</button>
                </div>
            <img class="dog" alt="shackleton" src="{% static 'images/old-shaggy.jpg'%}">
                <p class="dogName">Shackleton</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Adult</button>
                    <button id='dogAttributes'>Male</button>
                    <button id='dogAttributes'>Medium</button>
                    <button id='dogAttributes'>Easygoing</button>
                    <button id='dogAttributes'>Energetic</button>
                    <button id='dogAttributes'>Good with kids</button>
                    <button id='dogAttributes'>Good with other dogs</button>
                    <button id='dogAttributes'>Good with cats</button>
                </div>
        </div>
        <div class="dogs-row3">
            <img class="dog" alt="midge" src="{% static 'images/shih-tzu.jpg'%}">
                <p class="dogName">Midge</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Adult</button>
                    <button id='dogAttributes'>Female</button>
                    <button id='dogAttributes'>Small</button>
                    <button id='dogAttributes'>Easygoing</button>
                    <button id='dogAttributes'>Good with kids</button>
                </div>
            <img class="dog" alt="ladybird" src="{% static 'images/young-bulldog.jpg'%}">
                <p class="dogName">Ladybird</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Young</button>
                    <button id='dogAttributes'>Female</button>
                    <button id='dogAttributes'>Large</button>
                    <button id='dogAttributes'>Easygoing</button>
                    <button id='dogAttributes'>Energetic</button>
                    <button id='dogAttributes'>Good with kids</button>
                    <button id='dogAttributes'>Good with other dogs</button>
                    <button id='dogAttributes'>Good with cats</button>
                </div>
            <img class="dog" alt="mina" src="{% static 'images/young-peppy.jpg'%}">
                <p class="dogName">Mina</p>
                <div class="descriptionButtons">
                    <button id='dogAttributes'>Puppy</button>
                    <button id='dogAttributes'>Female</button>
                    <button id='dogAttributes'>Medium</button>
                    <button id='dogAttributes'>Energetic</button>
                    <button id='dogAttributes'>Good with kids</button>
                    <button id='dogAttributes'>Good with other dogs</button>
                    <button id='dogAttributes'>Good with cats</button>
                </div>
        </div>
    </section>
    <section class="bottomPics">
        <div class="donate">
            <style>
                .donate {
                    text-align: center;
                    width: 35%;
                    padding-top: 6.5rem;
                    background-image: url("{% static 'images/donate.jpg'%}");
                    background-color: red;
                    background-blend-mode: overlay;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            </style>
            <a href="">Donate</a>
        </div>
        <div class="volunteer">
            <style>
                .volunteer {
                    text-align: center;
                    width: 35%;
                    padding-top: 6.5rem;
                    background-image: url("{% static 'images/volunteer.jpg'%}");
                    background-color: violet;
                    background-blend-mode: overlay;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            </style>
            <a href="">Volunteer</a>
        </div>
        <div class="our-location">
            <style>
                .our-location {
                    text-align: center;
                    width: 30%;
                    padding-top: 6.5rem;
                    background-image: url("{% static 'images/location.png'%}");
                    background-color: goldenrod;
                    background-blend-mode: overlay;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            </style>
            <a href="">Our location</a>
        </div>
    </section>
</body>
</html>

